*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin-left: 50px;
    border: 2px double red;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
}

th, td{
    border: 2px solid orange;
}

.sin-borde{
    border: none;
}

main{
    width: 75%;
    margin: auto;
}

section{
    margin-bottom: 25px;
}

h2{
    color: orange;
}

li{
    margin-left: 30px;
}

.separado{
    margin-left: 60px;
}

.estrella{
    list-style-image: url('../images/star.png');
}

img{
    width: 150px;
    height: 200px;
    object-fit: contain;
    float: right;
}